# Activity 8 DATA PREPROCESSING: 
The data downloaded from kaggle is used here in its raw form it is not suitable for using it for training it in the model so it should be preprocessed.

In [1]:
from cryptonic import Model
from cryptonic import CoinMarketCap
from cryptonic.models import normalizations


from tqdm import tqdm_notebook

import pandas as pd
import datetime
import time
from time import mktime
from datetime import datetime
#%autosave 5
%matplotlib inline

## Fetching Real-time Data
Throughout this project we have been using data originally provided by [CoinMarketCat](https://coinmarketcap.com/). We have created an interface for collecting both real-time and historical data as as part of `cryptonic`: the class `CoinMarketCap()`.

In [2]:
print(CoinMarketCap())

        Crypto-currency data comes from the website CoinMarketCap.
        CoinMarketCap is can be accessed at: https://coinmarketcap.com/

        The permission to use the data is available on their FAQ

            https://coinmarketcap.com/faq/

        and reads:

            "Q: Am I allowed to use content (screenshots, data, graphs, etc.)
            for one of my personal projects and/or commercial use?

            R: Absolutely! Feel free to use any content as you see fit.
            We kindly ask that you cite us as a source."

Our model is designed to work with daily data. Let's go ahead and collect historic daily data from CoinMarketCap (this is the same data used previously).

In [3]:
#historic_data = CoinMarketCap.historic()
historic_data = pd.read_csv("/home/praveen/Desktop/Projects/technocolab/Deployment/Deployement/historical_bitcoin.csv")
historic_data.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1325318220,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1325318280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1325318340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1325318400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1325318460,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
historic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572257 entries, 0 to 4572256
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          int64
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: float64(7), int64(1)
memory usage: 279.1 MB

In [5]:
# Converting the Timestamp column from string to datetime
historic_data['Timestamp'] = [datetime.fromtimestamp(x) for x in historic_data['Timestamp']]

In [6]:
historic_data.head(10)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 13:22:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 13:23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 13:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 13:25:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 13:26:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2011-12-31 13:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2011-12-31 13:28:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2011-12-31 13:29:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2011-12-31 13:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2011-12-31 13:31:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Function to handel missing values
def fill_missing(df):
    df['Open'] = df['Open'].interpolate()
    df['Close'] = df['Close'].interpolate()
    df['High'] = df['High'].interpolate()
    df['Low'] = df['Low'].interpolate()
    df['Weighted_Price'] = df['Weighted_Price'].interpolate()
    df['Volume_(BTC)'] = df['Volume_(BTC)'].interpolate()
    df['Volume_(Currency)'] = df['Volume_(Currency)'].interpolate()


    print(df.head())
    print("\n")
    print(df.isnull().sum())

In [8]:
fill_missing(historic_data)

            Timestamp  Open  High   Low  Close  Volume_(BTC)  \
0 2011-12-31 13:22:00  4.39  4.39  4.39   4.39      0.455581
1 2011-12-31 13:23:00  4.39  4.39  4.39   4.39      0.555046
2 2011-12-31 13:24:00  4.39  4.39  4.39   4.39      0.654511
3 2011-12-31 13:25:00  4.39  4.39  4.39   4.39      0.753977
4 2011-12-31 13:26:00  4.39  4.39  4.39   4.39      0.853442

   Volume_(Currency)  Weighted_Price
0           2.000000            4.39
1           2.436653            4.39
2           2.873305            4.39
3           3.309958            4.39
4           3.746611            4.39


Timestamp            0
Open                 0
High                 0
Low                  0
Close                0
Volume_(BTC)         0
Volume_(Currency)    0
Weighted_Price       0
dtype: int64

In [9]:


# Setting timestamp as index
historic_data_non_indexed = historic_data.copy()
historic_data = historic_data.set_index('Timestamp')
historic_data.head(10)

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
Timestamp,,,,,,,
2011-12-31 13:22:00,4.39,4.39,4.39,4.39,0.455581,2.000000,4.39
2011-12-31 13:23:00,4.39,4.39,4.39,4.39,0.555046,2.436653,4.39
2011-12-31 13:24:00,4.39,4.39,4.39,4.39,0.654511,2.873305,4.39
2011-12-31 13:25:00,4.39,4.39,4.39,4.39,0.753977,3.309958,4.39
2011-12-31 13:26:00,4.39,4.39,4.39,4.39,0.853442,3.746611,4.39
2011-12-31 13:27:00,4.39,4.39,4.39,4.39,0.952907,4.183264,4.39
2011-12-31 13:28:00,4.39,4.39,4.39,4.39,1.052373,4.619916,4.39
2011-12-31 13:29:00,4.39,4.39,4.39,4.39,1.151838,5.056569,4.39
2011-12-31 13:30:00,4.39,4.39,4.39,4.39,1.251303,5.493222,4.39
2011-12-31 13:31:00,4.39,4.39,4.39,4.39,1.350769,5.929874,4.39

In [10]:
#Resampling data to daily values
historic_data_daily = historic_data.resample("24H").mean()

In [11]:
historic_data_daily.reset_index()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31,4.422837,4.426677,4.422837,4.426677,24.024874,105.980529,4.424286
1,2012-01-01,4.677625,4.677625,4.677625,4.677625,5.883361,27.923145,4.677625
2,2012-01-02,4.991701,4.991701,4.991701,4.991701,13.503075,67.432386,4.991701
3,2012-01-03,5.175495,5.175495,5.175495,5.175495,11.136690,56.749845,5.175495
4,2012-01-04,5.120500,5.133742,5.120500,5.133742,8.327158,43.510443,5.125202
...,...,...,...,...,...,...,...,...
3176,2020-09-10,10329.650764,10334.232931,10325.101028,10329.406528,6.544358,67677.632376,10330.185088
3177,2020-09-11,10295.390361,10299.211615,10292.010354,10295.383108,4.058959,41761.648113,10296.050512
3178,2020-09-12,10349.547823,10352.374219,10347.101326,10349.419837,2.203608,22808.773096,10350.136604
3179,2020-09-13,10428.191726,10431.349194,10425.141507,10427.915740,2.978942,30895.689653,10428.640460
3180,2020-09-14,10303.103625,10305.974713,10300.331027,10303.180574,1.995570,20566.641937,10303.775860

In [12]:
historic_data_daily.to_csv("/home/praveen/Desktop/Projects/technocolab/Deployment/Deployement/historic_data_final.csv")

In [13]:


import pandas as pd
from datetime import datetime

historic_data_daily = pd.read_csv("/home/praveen/Desktop/Projects/technocolab/Deployment/Deployement/historic_data_final.csv")

yr = 2011
week = 1
iso_week = []
day=0
tmp_yr=0
for index, row in historic_data_daily.iterrows():
    day=int(row[0][-2:]) 
    tmp_yr=int(row[0][:4])

    if tmp_yr == yr and day%7==1:
        week+=1
        ans = str(tmp_yr)+"-"+str(week)
        iso_week.append(ans)
            
    elif tmp_yr == yr and day%7!=1:
        
        ans = str(tmp_yr)+"-"+str(week)
        iso_week.append(ans)

    elif tmp_yr!=yr:
        yr = tmp_yr
        week=1
        ans = str(tmp_yr)+"-"+str(week)
        iso_week.append(ans)
              
              
    

new_iso_week = []
for i in iso_week:
    if i[-2]=="-":
        new_iso_week.append(i[:-1]+"0"+i[-1])
    else:
        new_iso_week.append(i)
    

historic_data_daily['iso_week'] = new_iso_week

In [14]:
historic_data_daily.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,iso_week
0,2011-12-31,4.422837,4.426677,4.422837,4.426677,24.024874,105.980529,4.424286,2011-01
1,2012-01-01,4.677625,4.677625,4.677625,4.677625,5.883361,27.923145,4.677625,2012-01
2,2012-01-02,4.991701,4.991701,4.991701,4.991701,13.503075,67.432386,4.991701,2012-01
3,2012-01-03,5.175495,5.175495,5.175495,5.175495,11.136690,56.749845,5.175495,2012-01
4,2012-01-04,5.120500,5.133742,5.120500,5.133742,8.327158,43.510443,5.125202,2012-01

In [15]:
historic_data_daily.to_csv("/home/praveen/Desktop/Projects/technocolab/Deployment/Deployement/final_hitorical_data_for_training.csv")

The data contains practically the same variables from our earlier dataset. However, much of the data comes from an earlier period. Recent Bitcoin prices have gained a lot of volatility if compared to the prices of a few years ago. Before using this data in our model, let's make sure to filter it to dates after January 1, 2017.

In [16]:
#
#  Using the Pandas API, filter the dataframe
#  for observations from 2017 only. 
# 
#  Hint: use the `date` variable.
#
data = pd.read_csv("/home/praveen/Desktop/Projects/technocolab/Deployment/Deployement/final_hitorical_data_for_training.csv")
data_recent = data[data['Timestamp'] >= '2017-01-01']
data_recent = data[data['Timestamp'] <= '2018-01-01']

In [17]:
data_recent.head()

,Unnamed: 0,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,iso_week
0,0,2011-12-31,4.422837,4.426677,4.422837,4.426677,24.024874,105.980529,4.424286,2011-01
1,1,2012-01-01,4.677625,4.677625,4.677625,4.677625,5.883361,27.923145,4.677625,2012-01
2,2,2012-01-02,4.991701,4.991701,4.991701,4.991701,13.503075,67.432386,4.991701,2012-01
3,3,2012-01-03,5.175495,5.175495,5.175495,5.175495,11.136690,56.749845,5.175495,2012-01
4,4,2012-01-04,5.120500,5.133742,5.120500,5.133742,8.327158,43.510443,5.125202,2012-01

In [25]:
columns = ['Timestamp','Close','iso_week','Volume_(BTC)']
model_data = data_recent[columns]

In [26]:
model_data.to_csv("/home/praveen/Desktop/Projects/technocolab/own/historic_data.csv", index=False)